ErrorDocument 404 /page-404.php
ErrorDocument 500 /error/500.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^kapcsolat?$ /contact.php
RewriteRule ^kijelentkezes?$ /logout.php
RewriteRule ^bejelentkezes?$ /login.php
RewriteRule ^regisztracio?$ /register.php
RewriteRule ^admin/?$ /admin.php
RewriteRule ^admin/measurement-management?$ /admin/measurement-management.php


