ErrorDocument 404 /page-404.php
ErrorDocument 500 /page-500.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^kapcsolat?$ /contact.php
RewriteRule ^kijelentkezes?$ /logout.php
RewriteRule ^bejelentkezes?$ /login.php
RewriteRule ^regisztracio?$ /register.php
RewriteRule ^vezerlopult?$ /admin.php
RewriteRule ^admin/felhasznalok?$ /admin/user-management.php
RewriteRule ^admin/meresek?$ /admin/measurement-management.php
RewriteRule ^admin/allomasok?$ /admin/station-management.php
RewriteRule ^admin/muszerek?$ /admin/instrument-management.php
RewriteRule ^404?$ /page-404.php